---
// You may modify or remove the following attribution if you like.
import { version, repository } from "package.json"
---
<footer
  class={[
    "bg-neutral-100",
    "dark:border-t-neutral-200",
    "dark:bg-neutral-900",
    "dark:border-t-neutral-800",
    "p-8",
    "[--added-padding:_4rem]",
    "md:[--added-padding:_0rem]",
    "pb-[calc(theme(spacing.8)_+_env(safe-area-inset-bottom)_+_var(--added-padding))]"
  ].join(" ")}
>
  <p class="text-center [&>*:not(a)]:opacity-75 text-xs flex gap-1 justify-center [&>*]:px-0">
    <span>{`Powered by`}</span>
    <a
      href={repository.url.replace(".git", "")}
      rel="noreferrer" 
      target="_blank"
    >
      {`Mahtab`}
    </a>
    <span class="font-mono">{`v${version}`}</span>
  </p>
</footer>