---
// You may modify or remove the following attribution if you like.
---
<footer
  class={[
    "bg-neutral-100",
    "dark:border-t-neutral-200",
    "dark:bg-neutral-900",
    "dark:border-t-neutral-800",
    "p-8",
    "[--added-padding:_4rem]",
    "md:[--added-padding:_0rem]",
    "pb-[calc(theme(spacing.8)_+_env(safe-area-inset-bottom)_+_var(--added-padding))]"
  ].join(" ")}
>
  <p class="text-center opacity-75 text-xs [&>*]:px-0">
    <span>
      {`Developed by `}
    </span>
    <a 
      class="underline !opacity-100" 
      href="https://github.com/amir4rab" 
      rel="noreferrer" 
      target="_blank"
    >
      {`Amir4rab`}
    </a>
    <span>
      {`, source code available on `}
    </span>
    <a 
      class="underline !opacity-100" 
      href="https://github.com/amir4rab/mahtab" 
      rel="noreferrer" 
      target="_blank"
    >
      {`Github`}
    </a>
    <span>
      {`.`}
    </span>
  </p>
</footer>