---
import Icon from "node_modules/astro-icon/lib/Icon.astro";
import NavbarLink from "./navbar-link.astro";

import pathnameSignal from "@/hooks/usePathname";

const { pathname } = Astro.url;
pathnameSignal.value = pathname;
---

<nav
  transition:persist="navbar" 
  class={[
    "bg-neutral-50",
    "dark:bg-neutral-950",
    "border-t",
    "md:border-t-0",
    "md:border-b",
    "border-neutral-100",
    "dark:border-neutral-900",
    "md:top-0",
    "fixed",
    "bottom-0",
    "left-0",
    "md:bottom-auto",
    "text-inherit",
    "w-full",
    "z-[1000]",
    "md:sticky",
    "md:py-3",
    "px-8",
    "md:px-2",
    "pb-[env(safe-area-inset-bottom)]"
  ].join(" ")}
>
  <div 
    class={[
      "max-w-4xl",
      "mx-auto",
      "grid",
      "grid-cols-4",
      "md:flex",
      "md:justify-center",
      "items-center",
      "md:gap-2",
    ].join(" ")}
  >
    <NavbarLink title="Home" href="/">
      <Icon class="w-6 h-6 md:h-5 md:y-5" name="ic:round-home" />
    </NavbarLink>
    <NavbarLink title="Projects" href="/projects">
      <Icon class="w-6 h-6 md:h-5 md:y-5" name="ic:round-workspace-premium" />
    </NavbarLink>
    <NavbarLink title="Blog" href="/blogs/1">
      <Icon class="w-6 h-6 md:h-5 md:y-5" name="ic:round-newspaper" />
    </NavbarLink>
    <NavbarLink expandable={false} title="Search">
      <Icon class="w-6 h-6 md:h-5 md:y-5" name="ic:round-search" />
    </NavbarLink>
  </div>
</nav>

<script>
  import pathnameSignal from '@/hooks/usePathname';

  const updatePathname = () => {
    const { pathname } = window.location;

    // Updating the signal
    pathnameSignal.value = pathname;

    // Updating anchor elements;
    const element = document.getElementById(`navbar-link-to-${pathname}`);
    element && element.parentNode?.childNodes.forEach((el) => (el as HTMLElement)?.setAttribute("data-active", "false"))
    element && element.setAttribute("data-active", "true");

  }

  updatePathname();
  document.addEventListener('astro:after-swap', updatePathname);
</script>