---
import CommonHeaders from '@/components/astro/common-headers.astro';
import Navbar from '@/components/astro/navbar.astro';
import Footer from '@/components/astro/footer.astro';

interface Props {
  pt?: string;
  pb?: string;
}

const { pt, pb } = Astro.props;
---
<html lang="en" dir="ltr">
  <CommonHeaders />
  <style is:global>
    *,
    *::after,
    *::before {
      -webkit-tap-highlight-color: transparent;
      scroll-behavior: smooth;
    }

    *:focus-visible {
      @apply accent-primary-500/60 dark:accent-primary-300/60 outline-primary-500/60 dark:outline-primary-300/60;
    }

    body {
      @apply bg-white text-black dark:bg-black dark:text-white;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        color-scheme: dark;
      }
    }
    @media (prefers-color-scheme: light) {
      :root {
        color-scheme: light;
      }
    }

    a {
      font-weight: inherit !important;
      opacity: inherit !important;
      @apply !decoration-primary-600 dark:!decoration-primary-300;
    }

    html[data-modal-open="true"] * {
      touch-action: none;
    }
    html[data-modal-open="true"]
      [data-dialog-open="true"]
      [data-scrollable="true"]
      * {
      touch-action: auto;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none m-0;
    }

    pre.astro-code.github-dark {
      @apply !bg-neutral-900 px-8 py-6 rounded-2xl border border-neutral-600 shadow-neutral-900/20 shadow-md;
    }

    .display-grid {
      display: grid;
      align-content: start;
      grid-template-columns: [full-bleed-start] minmax(2rem,1fr) [content-start] var(--max-width,500px) [content-end] minmax(2rem,1fr) [full-bleed-end];
    }
    .display-grid > * {
      grid-column: content;
    }
    .display-grid > .full-bleed {
      grid-column: full-bleed;
    }
  </style>
  <body>
    <slot name="before-nav" />
    <Navbar/>
    <main 
      class={[
        "prose",
        "dark:prose-invert",
        "max-w-none",
        "display-grid",
        "[--max-width:calc(100vw_-_4rem)]",
        "md:[--max-width:theme(maxWidth.4xl)]",
        "py-12",
        "overflow-hidden",
        "min-h-[100svh]",
        "mb-auto"
      ].join(" ")}
      style={pb ? `padding-bottom:${pb}` : "" + pt ?  `padding-top:${pt}`  : ""}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>